@model RenderView.ViewModels.Contact
@using (Html.BeginForm("Index", "Contact", FormMethod.Post)){
    
@Html.Label("Name: ")  @Html.TextBox("name1",Model.name)  <br />
@Html.Label("Title: ")     @Html.TextBox("title1",Model.title)<br />
@Html.Label("Age: ")    @Html.TextBox("age1" ,Model.age)<br />
    <table style="background-color:lightblue;border:dashed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Year Of Service</th>
        </tr>
    </thead>
     <tbody>

    @foreach (var employer in Model.employers.Select((x, i) => new { Line = x, Index = i }))
    {
        <tr><td>  @Html.TextBox("emp[" + @employer.Index + "].name",@employer.Line.name)</td>
            <td>@Html.TextBox("emp[" + @employer.Index + "].yearofservice",@employer.Line.yearofservice)</td></tr>
    }
    </tbody>
</table> 
 <button id="submit" type="submit" value="">Submit</button>
}
